In [1]:
import pandas as pd
import numpy as np

## 1. 1. Load data. Note: the le does not contain header line.

In [2]:
data = pd.read_table('house-votes-84.csv.bz2', compression = "bz2", sep=",", header=None)

## 1. 2. Explore the data: What is the number of yeas, nays and others by the column.

In [3]:
temp = data.drop([0], axis=1)
temp.apply(pd.value_counts)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
?,12,48,11,11,15,11,14,15,22,7,21,31,25,17,28,104
n,236,192,171,247,208,152,182,178,206,212,264,233,201,170,233,62
y,187,195,253,177,212,272,239,242,207,216,150,171,209,248,174,269

In [4]:
data.apply(pd.value_counts).T

        ?  democrat      n  republican      y
0     NaN     267.0    NaN       168.0    NaN
1    12.0       NaN  236.0         NaN  187.0
2    48.0       NaN  192.0         NaN  195.0
3    11.0       NaN  171.0         NaN  253.0
4    11.0       NaN  247.0         NaN  177.0
5    15.0       NaN  208.0         NaN  212.0
6    11.0       NaN  152.0         NaN  272.0
7    14.0       NaN  182.0         NaN  239.0
8    15.0       NaN  178.0         NaN  242.0
9    22.0       NaN  206.0         NaN  207.0
10    7.0       NaN  212.0         NaN  216.0
11   21.0       NaN  264.0         NaN  150.0
12   31.0       NaN  233.0         NaN  171.0
13   25.0       NaN  201.0         NaN  209.0
14   17.0       NaN  170.0         NaN  248.0
15   28.0       NaN  233.0         NaN  174.0
16  104.0       NaN   62.0         NaN  269.0

## 1. 3. Compute the percentage of democrats and republicans in your data.

In [5]:
democrats = data.apply(pd.value_counts).T['democrat'][0]
republicans = data.apply(pd.value_counts).T['republican'][0]

print('Democrats: ', democrats/ (democrats + republicans) * 100)
print('Republicans: ', republicans/ (democrats + republicans) * 100)

Democrats:  61.3793103448
Republicans:  38.6206896552

## 2. 1. Pick the first attribute (which happens to be voting for handicapped infants bill, see the readme file). Split your data according to yea or nay vote on that bill. You can just ignore the other here. You get two subsets of data: yea-sayers and nay-sayers.

In [6]:
no = data[data[1] == "n"]
yes = data[data[1] == "y"]

print(yes)
print(no)

             0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
4      democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y
9      democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  ?  ?
13     democrat  y  y  y  n  n  y  y  y  ?  y  y  ?  n  n  y  ?
16     democrat  y  n  y  n  n  y  n  y  ?  y  y  y  ?  n  n  y
17     democrat  y  ?  y  n  n  n  y  y  y  n  n  n  y  n  y  y
19     democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
20     democrat  y  y  y  n  n  ?  y  y  n  n  y  n  n  n  y  y
21     democrat  y  y  y  n  n  n  y  y  y  n  n  n  ?  ?  y  y
22     democrat  y  ?  y  n  n  n  y  y  y  n  n  ?  n  n  y  y
23     democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  y
24     democrat  y  n  y  n  n  n  y  y  y  n  n  n  n  n  y  ?
25     democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  y  y
26     democrat  y  n  y  n  n  n  y  y  y  n  y  n  n  n  y  y
27     democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
28   republican  y  n  n  y  y  n  y  y  y  n  n  y  y  y  n  y
29     democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  y
31     democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  y  ?
32     democrat  y  y  y  n  n  n  y  y  y  y  n  n  y  n  y  y
34     democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  y
36   republican  y  ?  n  y  y  y  n  n  n  y  n  y  ?  y  n  y
37   republican  y  y  n  y  y  y  n  n  n  n  n  n  y  y  n  y
39     democrat  y  n  y  n  n  n  y  y  y  y  y  n  y  n  y  y
40     democrat  y  y  y  n  n  n  y  y  y  n  ?  n  n  n  n  ?
41     democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  y  ?
42     democrat  y  n  y  n  n  n  y  y  y  n  n  n  n  n  n  y
43     democrat  y  n  y  n  n  n  y  y  y  n  n  n  n  n  y  y
44     democrat  y  y  y  n  n  n  y  y  y  n  y  n  n  n  n  ?
45     democrat  y  y  y  n  n  n  y  y  ?  n  y  n  n  n  y  ?
46     democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  n  y
47     democrat  y  n  y  n  n  n  y  y  ?  n  n  n  n  n  n  ?
..          ... .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
370    democrat  y  y  y  n  ?  y  y  y  n  y  ?  ?  n  n  y  y
371    democrat  y  y  y  n  ?  n  y  y  y  y  n  n  n  n  y  ?
376    democrat  y  ?  y  n  n  n  y  y  y  n  y  n  n  n  y  y
380    democrat  y  y  y  n  n  y  ?  y  y  n  y  n  y  n  y  y
381    democrat  y  y  y  n  y  y  y  y  y  y  y  n  y  y  n  ?
382    democrat  y  y  n  y  y  y  n  n  n  n  y  n  y  y  n  ?
383    democrat  y  y  y  n  y  y  n  y  y  y  y  n  n  n  n  y
384    democrat  y  y  y  y  y  y  n  n  n  n  y  y  y  y  n  y
385    democrat  y  y  n  n  y  y  n  n  n  n  y  y  y  y  y  n
387    democrat  y  y  y  n  y  y  n  y  y  n  y  n  n  y  n  ?
389    democrat  y  n  y  n  n  n  y  y  y  ?  y  n  n  n  y  ?
391    democrat  y  y  n  n  n  n  n  y  y  n  y  n  n  n  y  n
392  republican  y  y  n  y  y  y  n  n  n  n  y  y  y  y  n  y
394    democrat  y  y  ?  ?  ?  y  n  n  n  n  y  n  y  n  n  y
395    democrat  y  y  y  ?  n  n  n  y  n  n  y  ?  n  n  y  y
396    democrat  y  y  y  n  y  y  n  y  n  n  y  n  y  n  y  y
397    democrat  y  y  n  n  y  ?  n  n  n  n  y  n  y  y  n  y
404  republican  y  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
406    democrat  y  n  y  n  y  y  n  n  y  y  n  n  y  y  n  y
408    democrat  y  n  y  n  n  y  y  y  y  n  n  y  ?  y  y  y
411    democrat  y  n  y  n  n  y  y  y  y  y  y  n  n  n  n  y
413  republican  y  y  y  y  y  y  y  y  n  y  ?  ?  ?  y  n  y
414    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  n  y
416  republican  y  y  n  y  y  y  n  n  n  y  n  n  y  y  n  y
417    democrat  y  y  y  n  n  n  y  y  y  y  y  n  y  n  n  y
418    democrat  y  y  y  n  n  n  y  y  n  y  n  n  n  n  n  y
419    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  n  y
420  republican  y  y  y  y  y  y  y  y  n  y  n  n  y  y  n  y
426    democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  y  y
429    democrat  y  n  y  n  ?  n  y  y  y  y  n  y  n  ?  y  y

[187 rows x 17 columns]
             0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0    republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1    republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
3      democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
5      democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
6      democrat  n  y  n  y  y  y  n  n  n  n  n  n  ?  y  y  y
7    republican  n  y  n  y  y  y  n  n  n  n  n  n  y  y  ?  y
8    republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
10   republican  n  y  n  y  y  n  n  n  n  n  ?  ?  y  y  n  n
11   republican  n  y  n  y  y  y  n  n  n  n  y  ?  y  y  ?  ?
12     democrat  n  y  y  n  n  n  y  y  y  n  n  n  y  n  ?  ?
14   republican  n  y  n  y  y  y  n  n  n  n  n  y  ?  ?  n  ?
15   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  ?  n  ?
18   republican  n  y  n  y  y  y  n  n  n  n  n  ?  y  y  n  n
30   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  n
33   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
35   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  n
38   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  n
49   republican  n  ?  n  y  y  y  n  n  n  n  n  y  y  y  n  n
51   republican  n  y  n  y  y  y  n  ?  n  n  n  y  y  y  n  y
55   republican  n  y  n  y  y  y  n  n  n  y  y  y  y  y  n  n
56   republican  n  y  n  y  y  y  n  n  n  y  y  y  y  y  n  y
57   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
58   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
59   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  ?
61   republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  n
66   republican  n  y  n  y  y  y  y  n  n  n  y  y  y  y  n  y
67   republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  n
75     democrat  n  y  y  y  y  y  n  n  n  y  y  n  y  y  n  n
76     democrat  n  y  y  n  y  y  n  n  n  y  y  y  y  y  n  ?
77     democrat  n  y  y  y  y  y  n  y  y  y  y  y  y  y  n  y
..          ... .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
373    democrat  n  y  y  ?  y  y  n  y  n  y  ?  n  y  y  ?  y
374  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
375    democrat  n  y  n  y  y  y  n  n  n  n  y  y  n  y  n  n
377  republican  n  y  n  y  y  y  ?  ?  n  n  ?  ?  y  ?  ?  ?
378  republican  n  n  n  y  y  y  n  n  n  n  n  y  y  y  n  y
379  republican  n  n  n  y  y  y  n  n  n  n  n  y  y  y  n  y
386    democrat  n  ?  y  n  y  y  n  y  n  n  y  n  n  n  n  ?
388    democrat  n  y  y  y  y  y  n  n  n  n  n  y  y  y  n  ?
398    democrat  n  y  y  n  y  y  n  y  n  n  n  n  n  n  n  y
399  republican  n  y  n  y  ?  y  n  n  n  y  n  y  y  y  n  n
400  republican  n  y  n  y  y  y  n  ?  n  n  ?  ?  ?  y  n  ?
401  republican  n  y  n  y  y  y  n  n  n  y  y  y  y  y  n  n
403  republican  n  y  n  y  y  y  n  n  n  y  n  y  ?  y  n  n
405  republican  n  n  n  y  y  y  n  n  n  n  n  y  y  y  n  y
407    democrat  n  n  n  y  y  y  n  n  n  n  y  y  y  y  n  n
409  republican  n  n  n  y  y  y  n  n  n  n  n  y  y  y  n  n
410  republican  n  n  n  y  y  y  n  n  n  n  y  y  y  y  n  y
412  republican  n  n  n  y  y  y  n  n  n  y  n  y  y  y  n  y
415    democrat  n  y  y  n  n  y  y  y  ?  y  n  n  n  n  n  y
421    democrat  n  y  y  n  y  y  y  y  n  n  y  n  y  n  y  y
422    democrat  n  n  y  n  n  y  y  y  y  n  y  n  n  n  y  y
423    democrat  n  y  y  n  n  y  y  y  y  n  y  n  n  y  y  y
424    democrat  n  y  y  n  n  ?  y  y  y  y  y  n  ?  y  y  y
425    democrat  n  n  y  n  n  n  y  y  n  y  y  n  n  n  y  ?
427  republican  n  n  n  y  y  y  y  y  n  y  n  y  y  y  n  y
430  republican  n  n  y  y  y  y  n  n  y  y  n  y  y  y  n  y
431    democrat  n  n  y  n  n  n  y  y  y  y  n  n  n  n  n  y
432  republican  n  ?  n  y  y  y  n  n  n  n  y  y  y  y  n  y
433  republican  n  n  n  y  y  y  ?  ?  ?  ?  n  y  y  y  n  y
434  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  ?  n

[236 rows x 17 columns]

## 2. 2. Compute the percentage of republicans and democrats in both of your subset.

In [7]:
data
 
no = data[data[1] == 'n']
yes = data[data[1] == 'y']
nodemocrat = len(no[no[0] == 'democrat'])/len(no)
yesrepublican = len(yes[yes[0] == 'republican'])/len(yes)
noRepublican = len(no[no[0] == 'republican'])/len(no)
yesDemoncrat = len(yes[yes[0] == 'democrat'])/len(yes)
print("No Democrat: ", '{:.01%}'.format(nodemocrat))
print("Yes Republican: ", '{:.01%}'.format(yesrepublican))
print("No Republican: ", '{:.01%}'.format(noRepublican))
print("Yes Democrat: ", '{:.01%}'.format(yesDemoncrat))

No Democrat:  43.2%
Yes Republican:  16.6%
No Republican:  56.8%
Yes Democrat:  83.4%

## 2. 3. Compute entropy for both yea and nay-voters.

In [8]:
democrats = data.apply(pd.value_counts).T['democrat'][0]
republicans = data.apply(pd.value_counts).T['republican'][0]
demo = democrats/ (democrats + republicans)
rep = republicans/ (democrats + republicans)
import math

def heat(x, y):
    return -1 * x * math.log2(x) - y * math.log2(y)
democrats = data.apply(pd.value_counts).T['democrat'][0]
republicans = data.apply(pd.value_counts).T['republican'][0]
print("Yes Republicans and Yes Democrats: ", '{:.01%}'.format(heat(yesrepublican, yesDemoncrat)))
print("No Republicans and No Democrats: ", '{:.01%}'.format(heat(nodemocrat, noRepublican)))

Yes Republicans and Yes Democrats:  64.8%
No Republicans and No Democrats:  98.7%

## 2. 4. Compute the weighted average entropy for each potential split.

In [14]:
def entropy(index):
    no = data[data[index] == 'n']
    yes = data[data[index] == 'y']
    nodemocrat = len(no[no[0] == 'democrat'])/len(no)
    yesrepublican = len(yes[yes[0] == 'republican'])/len(yes)
    noRepublican = len(no[no[0] == 'republican'])/len(no)
    yesDemoncrat = len(yes[yes[0] == 'democrat'])/len(yes)
    yesheat = heat(yesrepublican, yesDemoncrat)
    noheat = heat(nodemocrat, noRepublican)
    return (yesheat *len(yes) + noheat * len(no)) / (len(yes) + len(no))

In [15]:
minI = 1
minEntropy = entropy(1)

for i in data.columns:
    if (i != 0):
        if (entropy(i) < minEntropy):
            minEntropy = entropy(i)
            minI = i
        print("Column ", i, ": ", entropy(i))

Column  1 :  0.8369429207599165
Column  2 :  0.9597246290117215
Column  3 :  0.5192054019756008
Column  4 :  0.20611069684434918
Column  5 :  0.5333550427760921
Column  6 :  0.8184728944688933
Column  7 :  0.7572889383940947
Column  8 :  0.6144195668030937
Column  9 :  0.6558589844994812
Column  10 :  0.9567682067352358
Column  11 :  0.8484111687456118
Column  12 :  0.5578936512136129
Column  13 :  0.7200897306908763
Column  14 :  0.6127739303645243
Column  15 :  0.7251662719007257
Column  16 :  0.8967495583804945

## 2. 5. Which feature will give the minimum average entropy? This is the best split!

In [16]:
print("Largest average entropy is ", minEntropy, " at column ", minI)

Largest average entropy is  0.20611069684434918  at column  4